<%- console.log(JSON.stringify(dados)); %>
<%- console.log(JSON.stringify(req.session.username)); %>

<table id="tblUser">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Senha</th>
    </tr>
  </thead>
  <tbody>
    <% let i = 0; for (i = 0; i< dados.length; i++) {%>
    <% if (dados[i].username == req.session.username) {%>
      <tr style="background-color: #ffe5e5; color:white;">
    <%} else {%>
    <tr>
    <% }%>
      <td><%= dados[i].id %></td>
      <td><%= dados[i].username %></td>
      <td><%= dados[i].password %></td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr style="height: 40px; background-color:red; color: white;">
      
        <td colspan="3">
          <center>
            <b><%- `Qtd de Registros: ${i}`%></b>
            </center>
        </td>
    </tr>
  </tfoot>
</table>